# Common
DB_HOST=localhost
DB_PORT=3306
JWT_SECRET=ywwqnglpr576hd53aqjy

# Development
DB_USER=root
DB_PASSWORD=
DB_NAME=frelance_elite_dev

# Test
TEST_DB_USER=root
TEST_DB_PASSWORD=
TEST_DB_NAME=frelance_elite_test
TEST_JWT_SECRET=mytestsecretkey